<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Estudiantes y Calificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Estudiantes
    </ion-list-header>
    <ion-item *ngFor="let estudiante of estudiantes" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{ estudiante.nombre }} {{ estudiante.apellido }}
        </h5>
        <p>
          <ion-icon name="book-outline"></ion-icon> {{ estudiante.total }}
        </p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-appointment/', estudiante.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteEstudiante(estudiante.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
