<ion-header>
  <ion-toolbar>
    <ion-title> Registro de Calificaciones </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-img src="https://cdn-icons-png.flaticon.com/512/4472/4472515.png" alt="Logo Registro de Calificaciones" class="img"></ion-img>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button expand="block" (click)="goToHome()">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
